<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sobre</title>
    </head>
    <body>
        <div class="centro">
            <h3>Esta é a pagina sobre</h3>
            <h6> Foi visitada x vezes</h6>
        </div>
    </body>
</html>